/*Général*/
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");

html,
body {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: normal;
  margin: auto;
  height: auto;
  width: 100%;
  overflow-x: hidden;
}
p {
  color: black;
}
a {
  text-decoration-line: none;
  color: black;
}

a:hover,
.ancre:hover {
  color: #0065fc;
}
header h3 {
  margin-top: 5px;
  padding-left: 0px;
}
strong {
  font-weight: bold;
}
img {
  object-fit: cover;
}

/*Header*/
header {
  margin: 10px 80px 0px 60px;
}
.navigation {
  display: grid;
  align-items: center;
  max-width: 1515px;
  grid-template-columns: auto 1fr auto;
  grid-template-areas: "logo navbar inscription";
  margin: 0;
}
.headerimg {
  grid-area: logo;
  padding-top: 20px;
}
.headernav {
  grid-area: navbar;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  padding-left: 65%;
  padding-right: 5%;
}
.inscription {
  grid-area: inscription;
  color: #0065fc;
  font-weight: bold;
  padding-top: 20px;
}
.ancre:hover {
  border-top: solid #0065fc;
}
.ancre {
  padding-top: 20px;
}
.post {
  display: flex;
  flex-direction: row;
}
.ecriture {
  background-color: #f2f2f2;
  border-radius: 10px 0px 0px 10px;
  padding: 17px 17px 17px 17px;
}
#clic {
  border: solid 1px #f2f2f2;
  border-left: none;
  border-right: none;
  padding: 15px 15px 15px 15px;
  font-size: 1em;
  font-weight: bold;
}
#bouton {
  display: initial;
  background-color: #0065fc;
  color: white;
  border-radius: 0px 10px 10px 0px;
  border: none;
  padding: 17px 15px 15px 15px;
  font-weight: 600;
}
#loupe {
  visibility: hidden;
}
#desktopversion {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: baseline;
  margin-bottom: 0px;
  margin-top: 0px;
}
#mobileversion,
.mobilerow,
.mobilecolumn {
  display: none;
}
.filtre {
  border: solid 2px #f2f2f2;
  border-radius: 50px;
  border-left: none;
  margin-left: 2%;
  margin-top: 5px;
  margin-right: 30px;
}
.filtre:hover {
  background-color: #deebff;
}
.filtrename {
  padding-left: 10px;
  padding-right: 10px;
}
.icône {
  color: #0065fc;
  font-size: 1em;
  border: solid 15px #deebff;
  background-color: #deebff;
  border-radius: 50%;
  padding-left: 0px;
}
.info {
  color: #0065fc;
  background-color: white;
  border: solid 1px lightgrey;
  border-radius: 50%;
  padding: 7px 9px 7px 9px;
  font-size: 0.6em;
  margin-right: 10px;
}
#inf {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}

/* Hébergements*/
.hostingPopular,
.hostingMain {
  background-color: #f2f2f2;
  border-radius: 1.5rem;
  padding: 2.5rem;
}
.hosting {
  display: grid;
  column-gap: 3rem;
  grid-template-columns: 6fr 3fr;
  margin-left: 50px;
  margin-right: 50px;
}
.hostingMain {
  display: grid;
  column-gap: 2rem;
  row-gap: 2rem;
}
.hostingMainHeader {
  grid-column: 1/-1;
  margin-left: 0px;
}
.hostingMainHeaderTitle {
  margin: 0;
  width: 100%;
}
.hostingMainCard {
  background-color: white;
  padding: 0.375rem;
  border-radius: 1.25rem;
  box-shadow: 0 0 10px #0000002e;
  transition-duration: 0.1s;
  cursor: pointer;
  box-sizing: border-box;
  height: 100%;
}
.hostingMainCard:hover {
  transform: scale(1.02);
}
.hostingMainCardFigure {
  margin: 0;
}
.hostingMainCardFigureImg {
  height: 7rem;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  max-height: 100%;
  border-radius: 1rem 1rem 0 0;
}
.hostingMainCardFigureCaptionTitle {
  margin: 0.25rem 0.75rem 0 0.75rem;
}
.hostingMainCardDesc {
  margin: 0.25rem 0.75rem 0.25rem 0.75rem;
}
.hostingMainCardDescPrice {
  font-weight: bold;
}
.hostingMainCardGrade {
  margin: 0 0.75rem 0.25rem 0.75rem;
}
.hostingMainCardGradeIcon[data-active="true"] {
  color: #0065fc;
}
.hostingMainCardGradeIcon[data-active="false"] {
  color: #d9d9d9;
}
.hostingMainViewmore {
  padding-top: 7px;
  padding-bottom: 7px;
  font-weight: bold;
  font-size: 1.1rem;
}
@media (min-width: 925px) {
  .hostingMain {
    grid-template-columns: repeat(3, 1fr);
  }
}

/*Populaires*/
.hostingPopular {
  display: grid;
  row-gap: 2rem;
  align-items: start;
  grid-template-rows: auto repeat(3, 1fr);
}
.hostingPopularTitle {
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 10px;
  margin-top: 0px;
  display: flex;
  justify-content: space-between;
}
.hostingPopularWrapcontent {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: 100%;
  overflow: auto;
}
.hostingPopularWrapcontentWrapimg {
  position: relative;
  min-height: 100%;
  width: 37%;
  min-width: 37%;
  max-width: 37%;
}
.hostingPopularWrapcontentWrapimgImg {
  border-radius: 1rem 0 0 1rem;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hostingPopularWrapcontentContent {
  display: flex;
  flex-direction: column;
}
.hostingPopularWrapcontentContentWhitespace {
  flex: 1;
}
.hostingPopularhostingMainCard {
  height: 8.75rem;
}

@media (max-width: 1440px) {
  .hosting {
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }
  .hostingPopular {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 10rem;
    column-gap: 2rem;
  }
  .hostingPopularTitle {
    grid-column: 1/-1;
  }
}
@media (max-width: 1100px) {
  .hostingPopular {
    grid-template-columns: 1fr;
    grid-template-rows: auto repeat(3, 9rem);
  }
}

/*Activités*/
.activity {
  display: grid;
  column-gap: 3rem;
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 70px;
}
.activityTitle {
  grid-column: 1/-1;
}
.activityCard {
  box-shadow: 0 0 20px #0000002e;
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition-duration: 0.1s;
}
.activityCard:hover {
  transform: scale(1.02);
}
.activityCardWrapimg {
  position: relative;
  flex: 1;
}
.activityCardWrapimgImg {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.activityCardTitle {
  margin: 1rem 1.5rem;
  font-size: 100%;
}
@media (min-width: 1100px) {
  .activity {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto 14rem 2rem 2rem 2rem 14rem;
  }
  .activityCard1 {
    grid-row: 2/7;
    grid-column: 1/2;
  }
  .activityCard2 {
    grid-column: 2/3;
    grid-row: 2/5;
  }
  .activityCard3 {
    grid-column: 3/4;
    grid-row: 2/7;
  }
  .activityCard4 {
    grid-column: 4/5;
    grid-row: 2/3;
  }
  .activityCard5 {
    grid-column: 2/3;
    grid-row: 6/7;
  }
  .activityCard6 {
    grid-column: 4/5;
    grid-row: 4/7;
  }
}
/*foot{*/
footer {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: baseline;
  padding: 30px 30px 30px 30px;
  background-color: #f2f2f2;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .headernav {
    padding-left: 50%;
    padding-right: 5%;
  }
  .héberg {
    width: 100%;
  }
  .populaires {
    width: 100%;
  }
}

/*Version Ipad*/
@media screen and (min-width: 730px) and (max-width: 1100px) {
  header {
    margin: 0;
    padding-top: 30px;
    overflow-x: hidden;
    margin-left: 50px;
    margin-right: 50px;
  }
  body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  #logo {
    width: 130px;
  }
  .headernav {
    padding-left: 30%;
    padding-right: 10%;
  }

  .filtre {
    margin-left: 0px;
    margin-right: 30px;
    padding: 0px 20px 0px 0px;
    border-left: none;
  }
  .fil {
    margin-right: 20px;
  }
  .icône {
    font-size: 11px;
    border: solid 20px #deebff;
  }
  #desktopversion {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: baseline;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  #inf {
    margin-bottom: 0px;
    padding-bottom: 0;
    font-size: 20px;
  }

  /*Body- Hébergements*/
  @media (max-width: 1100px) and (min-width: 650px) {
    .hostingMain {
      grid-template-columns: 1fr 1fr;
    }
  }
  @media (min-width: 925px) {
    .hostingMain {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  /*Activités*/
  .activityTitle {
    grid-column: 1/-1;
    font-size: 1.7em;
  }
  .activity {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto 10rem 2rem 10rem 3rem 10rem 2rem 10rem;
  }
  .activityCard1 {
    grid-row: 2/5;
    grid-column: 1/3;
  }
  .activityCard2 {
    grid-row: 6/7;
    grid-column: 1/3;
  }
  .activityCard3 {
    grid-column: 3/5;
    grid-row: 6/9;
  }
  .activityCard4 {
    grid-column: 3/5;
    grid-row: 2/3;
  }
  .activityCard5 {
    grid-row: 8/9;
    grid-column: 1/3;
  }
  .activityCard6 {
    grid-column: 3/5;
    grid-row: 4/5;
  }

  /*foot{*/
  footer {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: baseline;
    padding: 50px 50px 50px 50px;
  }
}

/*Version mobile*/
@media screen and (min-width: 300px) and (max-width: 730px) {
  header {
    margin: 0;
    width: 100%;
  }
  .navigation {
    grid-template-columns: auto 1fr auto;
    grid-template-areas:
      "logo . inscription"
      "navbar navbar navbar";
    margin-bottom: 20px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .inscription {
    font-size: 16px;
    margin-right: 0px;
    padding-right: 30px;
  }
  #logo {
    width: 100px;
    padding-left: 20px;
  }
  .ancre {
    font-size: 15px;
    margin: 0;
    width: 100%;
    border-bottom: solid#f2f2f2;
    margin-top: 10px;
    margin-bottom: 15px;
    padding-bottom: 15px;
    padding-right: 20px;
    padding-left: 60px;
  }
  .ancre:hover {
    border-bottom: solid #0065fc;
    border-top: none;
  }
  .headernav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-area: navbar;
    padding-left: 0px;
    padding-right: 0px;
  }

  @media screen and (min-width:400px) and (max-width:755px) {
    .ancre {
        font-size: 15px;
        margin: 0;
        width: 100%;
        border-bottom: solid#f2f2f2;
        margin-top: 10px;
        margin-bottom: 15px;
        padding-bottom: 15px;
        padding-right: 20px;
        padding-left: 20%;
      }  }
  header h3 {
    margin-top: 0px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 23px;
  }
  header p {
    font-size: 15px;
    margin-left: 20px;
  }
  form {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: flex-start;
  }
  .ecriture {
    background-color: #f2f2f2;
    border-radius: 15px 0px 0px 15px;
    padding: 19px 22px 19px 22px;
    margin-left: 20px;
    margin-right: 0;
  }
  #clic {
    border: solid 1px #f2f2f2;
    border-left: none;
    border-right: none;
    padding: 15px 0px 15px 15px;
    margin-left: 0;
    margin-right: 0;
    font-size: 1.1em;
    font-weight: bold;
  }
  #bouton {
    display: none;
  }
  #loupe {
    visibility: visible;
  }
  #loupe .fas {
    color: white;
    background-color: #0065fc;
    border-radius: 15px 15px 15px 15px;
    border: none;
    padding: 18px 17px 17px 17px;
    font-weight: 600;
    margin-left: -10px;
    margin-right: 20px;
  }
  #mobileversion {
    display: initial;
  }
  #desktopversion {
    display: none;
  }
  .fil {
    font-size: 20px;
    margin-left: 10px;
  }
  .mobilerow {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 100%;
  }
  .mobilecolumn {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    width: 100%;
  }
  .mobilecolumn .filtre:nth-child(1) {
    width: 200px;
    margin-bottom: 20px;
  }
  .mobilecolumn .filtre:nth-child(2) {
    width: 250px;
    margin-bottom: 20px;
  }
  
  .filtre {
    border: solid 3px #f2f2f2;
    border-radius: 50px;
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 20px;
    margin-left: 0px;
    border-left: none;
    font-weight: bold;
  }
  .filtrename {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 18px;
  }
  .icône {
    color: #0065fc;
    font-size: 20px;
    border: solid 10px #deebff;
    background-color: #deebff;
    border-radius: 50%;
    padding: 5px 5px 5px 5px;
  }
  #inf {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0px;
    font-size: 15px;
  }
  .info + p {
    margin-left: 0px;
  }

  .filtre:hover {
    background-color: #deebff;
  }
  .hosting {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
  }
  .hosting {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
  /*Body- Hébergements*/
  @media (max-width: 650px) {
    .hostingMain {
      grid-template-columns: 1fr;
    }
  }
  .hostingMain {
    background-color: white;
    padding: 0;
    margin: 1rem;
  }

  .hostingMainViewmore {
    margin-left: 5px;
    font-size: 1.15rem;
  }

  /*Populaires*/
  .hostingPopular {
    display: grid;
    row-gap: 1rem;
    align-items: start;
    grid-template-rows: repeat(3, 1fr);
    border-radius: 0;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .hostingPopularWrapcontentWrapimg {
    position: relative;
    min-height: 100%;
    width: 39%;
    min-width: 39%;
    max-width: 39%;
  }

  @media (max-width: 1440px) {
    .hosting {
      grid-template-columns: 1fr;
      row-gap: 2rem;
    }
    .hostingPopular {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto 10rem;
      column-gap: 2rem;
    }
    .hostingPopularTitle {
      grid-column: 1/-1;
    }
  }
  @media (max-width: 1100px) {
    .hostingPopular {
      grid-template-columns: 1fr;
      grid-template-rows: auto repeat(3, 9.5rem);
    }
  }
  /*Activités*/
  .activityCard {
    box-shadow: 0 0 10px #0000002e;
    border-radius: 1.5rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition-duration: 0.1s;
  }
  .activity {
    display: grid;
    grid-column: auto 1 auto;
    grid-template-rows: auto 12rem 2rem 12rem 2rem 12rem 2rem 12rem 2rem 12rem 2rem 12rem auto;
    margin: 30px 1rem 40px 1rem;
  }
  .activityCard1 {
    grid-row: 2/2;
    grid-column: 1;
  }
  .activityCard2 {
    grid-row: 4/4;
    grid-column: 1;
  }
  .activityCard3 {
    grid-column: 1;
    grid-row: 8/8;
  }
  .activityCard4 {
    grid-column: 1;
    grid-row: 10/10;
  }
  .activityCard5 {
    grid-row: 6/6;
    grid-column: 1;
  }
  .activityCard6 {
    grid-column: 1;
    grid-row: 12/12;
  }
  .activityTitle {
    margin-left: 5px;
  }
  /*foot{*/
  footer {
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 0;
    margin-top: 20px;
    width: 100%;
  }
  .propos,
  .footerhébergements,
  .assistance {
    font-size: 15px;
    margin-top: 20px;
  }
}
