@font-face {
    font-family:'Raleway-Regular'; 
    src: url('static/Raleway-Regular.ttf');
    font-style: normal;
    font-weight: normal;
}
body{
    font-family: 'Raleway-Regular',Arial, Helvetica, sans-serif;
}
#bloc-page{
   
    margin: auto;
}

header div{
    
    text-align: left;
    float: left;
}
ul{
    list-style-type: none;
    display: flex;
    justify-content:space-around;
    text-align: right;
    margin-left: 1000px;
    align-items: flex-end;
}
a{
    text-decoration-line: none;
    color: black;
}
ul a:hover{
    border-top: solid #0065FC;
}
a:hover{
    color: blue;
}
span,.fa{
    color:#0065FC;
    font-size: 1em;
}
p{
    color: black;
}
h3{
    font-weight:bold;
    color:black; 
    margin-top: 50px;
}
strong{
    font-weight: bold;
}
header i{
    border: solid 10px #DEEBFF;
    background-color: #DEEBFF;
    border-radius: 50%;
}
header span{
    border: solid 1px #F2F2F2;
    border-radius: 40px;   
    padding: 7px 7px;
    padding-left: 0;
}
header nav span{
    border: none;
}
/* voir*/
section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
#hébergements{
    background-color:#F2F2F2;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 900px;
    height: 900px;
    border-radius: 20px;
    position: relative;
    padding-right: 10px;
}
#hébergements img{
    width: 200px; 
    height: 100px; 
    border-radius: 20px;
    border: solid 5px white;
    border-bottom: solid 70px white;
    margin-top: 70px;
}
#populaires{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #F2F2F2;
    border-radius: 20px;
    position: relative;
    height: 900px;
    width: 500px;
}
#populaires img{
    width: 150px; 
    height: 150px;
    object-fit: cover; 
    border-radius: 20px;
    border: solid 5px white;
    border-right: solid 140px white;
    margin: 70px;
}
#activités{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-self: baseline;
}
#activités img{
    height: 200px;
    width: 400px;
    border-radius: 20px;
    border-bottom: solid 50px white;
    box-shadow:5px 5px #F2F2F2;    
}
section h3{
    position: absolute;
    left: 0;
    top: 0;
    clear: both;
    margin: 20px;
}

article span{
    text-align: right;
}
/*voir*/
.héberg :nth-child(1){
    width: 200px; 
    height: 100px; 
    position: relative;
}
.héberg :nth-child(2){
    position: relative;
}
.héberg :nth-child(3){}
.héberg :nth-child(4){}
.héberg :nth-child(5){}
.héberg :nth-child(6){}

.description :nth-child(1){
    position: absolute;
    left:0;

}
.description :nth-child(2){
    position: absolute;
}
.description :nth-child(3){}
.description :nth-child(4){}
.description :nth-child(5){}
.description :nth-child(6){}
/**/


footer{
    background-color:#F2F2F2;
    
}
footer p{
    font-weight: bold;
}
footer{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items:baseline;
    margin: 100px;
    padding: 20px 10px 20px 10px;
}
