/*Général*/
@font-face {
  font-family: "Raleway-Regular";
  src: url("static/Raleway-Regular.ttf");
  font-style: normal;
  font-weight: normal;
}
body {
  font-family: "Raleway-Regular", Arial, Helvetica, sans-serif;
  margin: 20px 20px 20px 20px;
  padding:0px 30px 0px 30px;
}
p {
  color: black;
}
a {
  text-decoration-line: none;
  color: black;
}

a:hover,
section p:hover {
  color: #0065fc;
}
header .fa {
  color: #0065fc;
  font-size: 1em;
  border: solid 10px #deebff;
  background-color: #deebff;
  border-radius: 50%;
}
.fa {
  color:#0065fc;
  font-size: 0.7em;
}
.empty {
  color: #f2f2f2;
  font-size: 0.7em;
}
h3 {
  font-weight: bold;
  color: black;
  margin-top: 30px;
  margin-bottom: 10px;
  padding-left: 15px;
  font-size: 1.4em;
}
header h3 {
  margin-top: 40px;
  padding-left: 0px;
}
strong {
  font-weight: bold;
}

/*Header*/
header{
  margin: 20px 20px 20px 20px;
}
#logo {
  float: left;
  margin-top: 20px;
}
.menu {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  text-align: right;
  margin-left: 900px;
  color: #0065fc;
  font-weight: bold;
  background-color: white;
}

.ancre:hover {
  border-top: solid #0065fc;
  background-color: white;
}
.inscription {
  color: #0065fc;
}
#info {
  color: #0065fc;
  background-color: white;
  border: solid 1px lightgrey;
  border-radius: 50%;
  padding: 7px 9px 7px 9px;
  font-size: 0.6em;
  margin-right: 10px;
}
.inf {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
form {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}
#bouton {
  background-color: #0065fc;
  color: white;
  border-radius: 0px 10px 10px 0px;
  border: none;
  padding: 10px 10px 10px 10px;
  margin-left: 0%;
  margin-right: 0%;
}
input {
  padding: 10px 10px 10px 10px;
  border: 1px #f2f2f2;
  font-size: 1em;
  border: solid 1px #f2f2f2;
}

form i {
  background-color: #f2f2f2;
  border-radius: 10px 0px 0px 10px;
  padding: 12px 12px 12px 12px;
}
#clic {
  border: solid 1px #f2f2f2;
  font-weight: bold;
  border-left: none;
  border-right: none;
}

header p span {
  border: solid 2px #f2f2f2;
  border-radius: 50px;
  padding: 7px 7px 7px 7px;
  padding-left: 0px;
  border-left: solid 1px #deebff;
  margin: 10px;
}

header span:hover {
  background-color: #deebff;
}
span a {
  padding-left: 7px;
  padding-right: 7px;
  margin: auto;
}
section span strong {
  font-weight: bold;
  font-size: 1.1em;
  margin-top: 10px;
  margin-bottom: 10px;
}

/*body et images floues*/
section {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}
#hébergements {
  background-color: #f2f2f2;
  height: 600px;
  width: 800px;
  border-radius: 20px;
  padding: 30px 30px 30px 30px;
  margin-right: 30px;
}
.héberg {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}
.hotel img {
  width: 230px;
  height: 110px;
  border: solid 5px white;
  border-bottom: solid 80px white;
  border-radius: 20px;
  margin-top: 20px;
}
.hotel:nth-child(1) {
  order: 4;
}
.hotel:nth-child(2) {
  order: 6;
}
.hotel:nth-child(3) {
  order: 2;
}
.hotel:nth-child(4) {
  order: 1;
}
.hotel:nth-child(5) {
  order: 5;
}
.hotel:nth-child(6) {
  order: 3;
}
.hotel {
  position: relative;
}
.hotel p {
  position: absolute;
  bottom: 0;
  padding: 10px 0px 0px 10px;
}
article {
  position: relative;
}
article span {
  position: absolute;
  bottom: 0;
  padding-bottom: 50px;
}

.entete {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding-left: 25px;
  padding-right: 30px;
}
.entete .fas {
  font-size: 1.5em;
}
#populaires {
  background-color: #f2f2f2;
  height: 600px;
  width: 450px;
  border-radius: 20px;
  margin: 5px 5px 5px 5px;
  padding: 30px 10px 30px 10px;
  margin-top: 0px;
}
.populaire img {
  height: 130px;
  width: 130px;
  border: solid 5px white;
  border-right: solid 250px white;
  border-radius: 20px;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 20px;
}
.populaire {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-bottom: 20px;
}
.populaire p {
  position: absolute;
  top: 0;
  padding-left: 200px;
  padding-top: 20px;
}

/*revoir mise en page- taille image*/

#activités {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 500px;
  width: auto;
}
.port img {
  height: 400px;
  width: 300px;
  border-bottom: solid 50px white;
  border-radius: 20px;
  box-shadow: 5px 5px #f2f2f2;
  margin: 20px 22px 20px 20px;
}

.fort img {
  height: 170px;
  width: 300px;
  border-bottom: solid 50px white;
  border-radius: 20px;
  box-shadow: 5px 5px #f2f2f2;
  margin: 20px 22px 0px 20px;
}

.iles img {
  height: 140px;
  width: 300px;
  border-bottom: solid 50px white;
  border-radius: 20px;
  box-shadow: 5px 5px #f2f2f2;
  margin: 20px 22px 0px 20px;
}
.calanques img {
  height: 400px;
  width: 300px;
  border-bottom: solid 50px white;
  border-radius: 20px;
  box-shadow: 5px 5px #f2f2f2;
  margin: 20px 22px 0px 20px;
}
.dame img {
  height: 140px;
  width: 300px;
  border-bottom: solid 50px white;
  border-radius: 20px;
  box-shadow: 5px 5px #f2f2f2;
  margin: 20px 22px 0px 20px;
}
.longchamps img {
  height: 170px;
  width: 300px;
  border-bottom: solid 50px white;
  border-radius: 20px;
  box-shadow: 5px 5px #f2f2f2;
  margin: 20px 22px 0px 20px;
}
.petite {
  position: relative;
}
.petite h4 {
  position: absolute;
  bottom: 0;
  padding-left: 35px;
  font-weight: bolder;
}
.grande {
  position: relative;
}
.grande h4 {
  position: absolute;
  bottom: 0;
  padding-bottom: 30px;
  padding-left: 35px;
  font-weight: bolder;
}
/*foot{*/

footer {
  background-color: #f2f2f2;
}
footer p {
  font-weight: bold;
}
footer {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: baseline;
  margin-top: 15px;
  margin-bottom: 0px;
  padding: 50px 10px 50px 10px;
}

/*refaire mise en page modifier*/
@media all and (max-width: 1024px) {
  #bloc-page {
    height: auto;
    width: auto;
  }
  ul span {
    float: right;
    text-align: right;
  }
  .héberg {
    flex-direction: column;
  }
  .hotel img {
    width: 350px;
    height: 150px;
    border: solid 5px white;
    border-bottom: solid 100px white;
    border-radius: 20px;
    box-shadow: 5px 5px #f2f2f2;
    margin-top: 30px;
  }
  #hébergements {
    background-color: white;
  }

  /*ça ne marche pas?*/
  #populaires:first-child {
    text-align: center;
    width: auto;
  }

  ul a:hover {
    border-top: 0;
    border-bottom: solid #0065fc;
  }
  a:hover {
    color: #0065fc;
  }
  nav {
    font-size: 1.2em;
  }
  footer {
    margin: auto;
    flex-direction: column;
  }

  footer div {
    margin-top: 15px;
    margin-bottom: 10px;
  }
  footer div + a {
    margin-top: 20px;
  }
}
